[Unit]
Description=Solar report service
After=network.target

[Service]
User=pi
ExecStart=/home/pi/pisolar/address.py
WorkingDirectory=/home/pi/pisolar
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
