[Unit]
Description=Image sender service
After=network.target

[Service]
User=pi
ExecStart=/home/pi/pisolar/image.sh
WorkingDirectory=/home/pi/pisolar
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
