[Unit]
Description=Solar service
After=network.target

[Service]
User=pi
ExecStart=/home/pi/pisolar/solar.sh
WorkingDirectory=/home/pi/pisolar
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
