[Unit]
Description=Streaming service
After=network.target
Requires=pigpiod.service

[Service]
User=pi
ExecStart=/home/pi/pisolar/simple_mjpeg_streamer_http_server.py
WorkingDirectory=/home/pi/pisolar
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
